<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <h1>{{title}}</h1>
    <p>Nombre: {{first_name}} {{last_name}}</p>
    <p>Email: {{email}}</p>
    <a href="/logout">Cerrar Sesión</a>
</body>
</html>
